@import './styles/fonts';

.app {
  display: flex;
  align-items: center;
  height: 100vh;

  font-family: "Acme Regular", sans-serif;

  background-color: #EEF1EF;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 768px;
    margin: 0 auto;
    padding: 0 0 32px 0;

    background-color: #A9B4C2;
    border-radius: 16px;
  }

  &__title {
    font-family: "Oswald Medium", sans-serif;
  }
}

.currency {

  &__controls {
    display: flex;
    align-items: center;

    padding: 16px 8px 16px 16px;

    background-color: #7D98A1;
    border: 1px solid grey;
    border-radius: 10px;

    transition: border-color 0.3s;

    &:hover {
      border-color: black;
    }
  }

  &__input {
    border: none;
    background-color: #7D98A1;

    font-size: 16px;

    outline: none;
  }

  &__select {
    width: 200px;
    margin-left: 24px;

    border: none;
    background: transparent;
  }
}